.app {
  display: flex;
  flex-flow: column;
  height: 100%;
  text-align: center;
  &__movies {
    &__loader {
        margin: auto;
    }
  }
  &__content {
    padding: 0 20px;
    &__error {
      &__message {
        margin: auto;
        font-weight: bold;
        color: rgb(161, 15, 15);
      }
    }
  }
}
